body, html, .block {
    margin: 0;
    padding: 0;
}

body {
    min-width: 1200px;
    background: #e5e5e5;
}

/*display: inline-block;*/
.search, .header .menu li,.slider .background,.slider .background .block {
    display: inline-block;
}

/*header*/
#logo {
    margin-top: 20px;
    margin-left: 150px;
}

.header {
    background: url("image/Header/header-background.png") 0px -5px;
    height: 380px;
    padding-top: 10px;
    border-bottom: 1px solid #2c2c32;
}

.search {
    position: relative;
    margin-top: 40px;
    margin-right: 5%;
    float: right;
}

.search input {
    color: #818181;
    padding: 7px;
    padding-left: 22px;
    background: url("image/Header/search.png") no-repeat;
    height: 30px;
    width: 260px;
    border: none;
    outline: 0;
    vertical-align: middle;
}

.search .lupa {
    background: url("image/Header/search-icon.png") no-repeat;
    height: 48px;
    width: 48px;
    vertical-align: middle;
    margin-right: -25px;
    position: relative;
    z-index: 1;
}

.header .menu {
    padding: 0;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    color: #ddd2c6;
    font-size: larger;
    font-family: "Open Sans", sans-serif;
    list-style: none;
    height: 35px;
    border-bottom: 5px solid white;
    width: 65%;
}

.header .menu li {
    margin-left: 4%;
    cursor: pointer;
    height: 40px;
}
.header .menu .first {
    margin-left: 0;
}
.header .menu li:hover {
    color: white;
    height: 40px;
    background: url("image/Header/menu-active.png") no-repeat 50% 25px;
}
/*****************************************************************************************/

/*CONTENT:slider*/
.content .slider {
    margin: auto;
    margin-top: -70px;
    width: 945px;
    height: 400px;
    background: url("image/slider/slideshow.png") no-repeat;
    position: relative;
}

.content .slider .move-right,.content .slider .move-left {
    position: absolute;
    top: 40%;
    width: 44px;
    height: 46px;
    border: none;
}
.content .slider .move-left {
    background: url("image/slider/slider-arrow-left.png");
}

.content .slider .move-right {
    left: 96%;
    background: url("image/slider/slider-arrow-right.png");
}

.content .slider .navigation {
    position: absolute;
    top: 87%;
    padding-left: 70px;
}

.slider .navigation .button {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: bold;
    margin-left: 40px;
    padding: 0;
    width: 167px;
    height: 30px;
    background: url("image/slider/buttons/button.png");
    border: none;
}

.slider .navigation .button.button-first {
    margin-left: auto;
}

.slider .navigation .button.active {
    color: #e0e0e0;
    background: url("image/slider/buttons/button-selected.png");
}
/*****************************************************************************************/
/*Content:main*/
.content .pillow {
    background: url("image/content/contentbg.jpg");
    width: 1200px;
    height: 1000px;
    margin: auto;

}
/*****************************************************************************************/
/*footer*/

/*****************************************************************************************/